.es_scroll_containter
    .es_scroll_box(ref="boxRef")
        //- .es_scroll_hint.es_hint_top(
        //-     :class="{ active: topPullRatio > 1.0 }", 
        //-     :style="topHintStyle"
        //- ) hint_top
        .es_scroll_content(
            ref="ulRef", :class="[$attrs.class, {smooth: scrollCtrl.scroll.active}]", 
            :style="{ transform: `translateY(${displayScrollY}px)` }"
        )
            li(v-for="i in 50" :key="i") 列表项 - {{ i }}
        //- .es_scroll_hint.es_hint_bottom(
        //-     :class="{ active: bottomPullRatio > 1.0 }", 
        //-     :style="bottomHintStyle"
        //- ) hint_bottom
    //- ScrollBar(scroll="y", :data="scrollCtrl.scroll")
    //-     template(#default="slotProps")
    .es_scroll_bar.es_scroll_y(:ref="el=>scrollCtrl.scroll.scrollRef.y.box=el")
        slot(name="scroll_y", 
            scrollRatio="scrollRatio",
            isDragging="isDragging"
        )        
            .es_track(track,
                data-scroll="y",
                @pointerdown.stop.prevent="scrollCtrl.scroll.track_down"
            )
                .es_track_view
                .es_thumb(thumb, 
                    :class="{joytick: scrollJoy, disanime: runtimeData.isDragging}"
                )
                    .es_thumb_view  
    Cursor(v-if="scrollCtrl.midnav && scrollCtrl.midnav.active", 
        :start="scrollCtrl.midnav.startPos", 
        :pos="scrollCtrl.midnav.cursorPos"
    )